.modal.fade#postLike-1(tabindex="-1" role="dialog" aria-labelledby="postLike-1" aria-hidden="true")
  .modal-dialog.modal-dialog-centered(role="document")
    .modal-content
      .modal-header
        h5.modal-title
          i.fi.fi-rr-thumbs-up.icon-like
          |  3 people like this post

        a.close(href="#" type="button" data-dismiss="modal" aria-label="Close")
          i.fi.fi-rr-arrow-left

      .modal-body
        .who-is
          include ../who-is
          include ../who-is
          include ../who-is
