{#
/**
 * @file
 * Default theme implementation to display learnign path step.
 *
 * - elements['#step']
 * - elements['#is_module']
 * - elements
 */
#}

{% set step = elements['#step'] %}
<div class="content-box">
  {{ elements }}
</div>
