{#
/**
 * title - Learning path title randerable array.
 * steps - opigno_lp_step_module randerable array.
 */
#}
<div class="content-box p-0 opigno-lp-step-activity show-activity-list">
  <h3 class="content-box__title lp-title">
    {{ elements.title }}
    <i class="fi fi-rr-caret-right"></i>
  </h3>
</div>
<div  {{ attributes.addClass('content-box', 'p-0', 'opigno-lp-step-activity') }}>
  <h3 class="content-box__title lp-title">{{ elements.title }}</h3>
  <div class="opigno-lp-step-list">
    {{ elements.steps }}
  </div>
</div>
