# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

web/sites/*/settings.local.php

# Ignore services configuration
/web/sites/*/services.yml

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

logs/
vendor/
