.dropdown
  a.dropdown-toggle(href="#" data-toggle="dropdown" area-expanded="false")
    i.fi.fi-rr-bell
      span.marker

  .dropdown-menu.dropdown-menu-right
    .notifications-block
      a.all-read(href="#") mark all as read

      ul.notification-list
        li.notification-item
          a.notification-item-text(href="#") Didier Lavigny replied to your post
        li.notification-item
          a.notification-item-text(href="#") Didier Lavigny liked your post
        li.notification-item
          a.notification-item-text(href="#") Didier Lavigny would like to connect

      .view-notifications
        a.btn.btn-rounded(href="#") view all notifications
