.dropdown
  button.dropdown-toggle(data-toggle="dropdown" area-expanded="false")
    i.fi.fi-rr-menu-dots

  ul.dropdown-menu.dropdown-menu-right
    li.dropdown-item
      a.dropdown-item-text(href="#") Option
    li.dropdown-item
      a.dropdown-item-text(href="#") Option
    li.dropdown-item
      a.dropdown-item-text(href="#") Option
