.dropdown
  a.dropdown-toggle(href="#" data-toggle="dropdown" area-expanded="false")
    i.fi.fi-rr-angle-small-down

  .dropdown-menu.dropdown-menu-right
    .user-menu-block
      .user-name
        a(href="#") Simon Conteras
        span student

      ul.user-menu-list
        li.user-menu-item
          a.user-menu-item-text(href="#")
            i.fi.fi.fi-rr-interrogation
            | Help
        li.user-menu-item
          a.user-menu-item-text(href="#")
            i.fi.fi-rr-info
            | About
        li.user-menu-item
          a.user-menu-item-text(href="#")
            i.fi.fi-rr-comment
            | Review opigno
        li.user-menu-item
          a.user-menu-item-text(href="#")
            i.fi.fi-rr-sign-out
            | Logout
