form.views-exposed-form.bef-exposed-form(action="#")
  .form-items-group
    .js-form-item.form-item.js-form-type-textfield.form-item-label.js-form-item-label
      input.form-search.form-text(type="search" placeholder="Search")

    input.button.js-form-submit.form-submit(type="submit" placeholder="Search" value="Apply")
