.activity-table
  table.statistics-table.table-striped.responsive-enabled.table.table-hover(data-striping="1")
    thead
      tr
        th.name Activity
        th.score Score
        th.status Status

    tbody
      tr
        td.name
          span Activity name

        td.progress
          span 10/10

        td.status
          .status-wrapper
            span.led.passed Done

      tr
        td.name
          span Activity name

        td.progress
          span 10/12

        td.status
          .status-wrapper
            span.led.passed Done

      tr
        td.name
          span Activity name

        td.progress
          span 10/12

        td.status
          .status-wrapper
            span.led.pending Pending

      tr
        td.name
          span Activity name

        td.progress
          span 2/13

        td.status
          .status-wrapper
            span.led.failed Failed
