.comment-item__comment--list
  .comment-item__comment--list__item
    .profile-pic
      a(href="#")
        img(src="images/content/profil.svg" alt="profil")

    .content-wrapper
      .content
        .body
          include ../dropdown/dropdown
          .name
            a(href="#") Jerome Simentale

          p Lorem ipsum dolor sit amet, consetetur

      .content__bottom
        a(href="#").comment-item__actions--like
          i.fi.fi-rr-thumbs-up
          | Like

        time.comment-item__date 03 may 2021 - 00h00
