h2.content-box__title Last active trainings

.last-training__item
  a.btn(href="#") La photographie pour les nuls
    span.score 100%

.last-training__item
  a.btn(href="#") Apprendre le mode manuel
    span.score 100%

.last-training__item
  a.btn(href="#") Apprendre le mode manuel
    span.score 50%
