nav
  ul.main-menu
    li.main-menu__item
      a.main-menu__link(href="/") Home
    li.main-menu__item
      a.main-menu__link(href="catalog.html") Catalogue
    li.main-menu__item
      a.main-menu__link(href="calendar.html") Calendar
    li.main-menu__item
      a.main-menu__link(href="/") Statistics
