.person-item
  .person-item__content
    .person-item__info
      span.profile-pic
        img(src="images/content/profil.svg" alt="img")
      span.body
        span.name Jerome Simentale
        span.type Student

    .person-item__actions.person-item__actions-pending
      a.btn-connection.accept.active(href="#") Accept
      a.btn-connection.decline.active(href="#") Decline
