.person-item
  .person-item__content
    .person-item__info
      span.profile-pic
        img(src="images/content/profil.svg" alt="img")
      span.body
        span.name Jerome Simentale
        span.type Student

    .person-item__actions
      a(href="#")
        i.fi.fi-rr-envelope
      include dropdown/dropdown
