.activity-info
  .activity-info__item
    .label Activities Done
    .value
      span 2/4

  .activity-info__item
    .label Score
    .value
      span 20/35

  .activity-info__link
    a.btn.btn-rounded.btn-small(href="#") See activity results
