.ilt
  .ilt__container
    h3.ilt__title
      i.fi.fi-rr-star
      | ILT - ILT name

    .ilt__content
      .ilt__attended
        .label Attended
        .value Yes

      .ilt__status
        .ilt__status-content
          .label Status
          .status
            .status__icon.passed
              i.fi.fi-rr-check
            | Passed

      .ilt__progress
        .inner
          .label Score
          span.value 100%

      .ilt__completed-on
        .inner
          .label Date
          time.value 01/04/2021

      .ilt__address
        .inner
          .label Address
          span.value Lausanne, Middle street 22
