.live-meeting
  .live-meeting__container
    h3.live-meeting__title Live meeting - Live meeting name

    .live-meeting__content
      .live-meeting__attended
        .label Attended
        .value -

      .live-meeting__status
        .live-meeting__status-content
          .label Status
          .status
            .status__icon.pending
              i.fi.fi-rr-menu-dots
            | Pending

      .live-meeting__progress
        .inner
          .label Score
          span.value 100%

      .live-meeting__completed-on
        .inner
          .label Date
          time.value 01/04/2021

      .live-meeting__url
        .inner
          .label Address
          a.value(href="#") https://www.livemeetingurl.com/
