{#
/**
 * @file
 * Default theme implementation to display the metric items.
 *
 * Available variables:
 * - elements.
 */
#}

<div class="user-metrics">
  <div class="user-metrics-content">
    {{ elements }}
  </div>
</div>
