<div class="meeting-start-soon content-box">
  <div class="meeting-start-soon__content">
    <div class="meeting-icon ilt-event-icon"></div>
    <div class="meeting-start-soon__body">
      {% trans %}
        <h5 class="meeting-start-soon__title">Upcoming Instructor Led Training <i>{{ title }}</i> on</h5>
      <p>{{ date }}</p>
      {% endtrans %}
    </div>
  </div>
</div>
